{% extends 'base.html.twig' %}
{% block body %}
    <div class="content ">
        <div class="row justify-content-center mt-5">
            <div>
                <h3 class="text-center">MODIFIER VOS INFORMATIONS PERSONNELLES</h3>
                <hr />
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="card text-white shadow-lg col-5">
                <div class="card-body ">
                    <div class="card-content">
                        {{ form_start(form) }}
                        <h5 class="text-center">Informations personnelles</h5>
                        {% for item in form %}
                            {{ form_row(item,{'attr':{'placeholder':""}} ) }}
                        {% endfor %}
                        <div class="text-center pt-3">
                            <button type="submit" class="btn btn-outline-success">
                                Modification
                            </button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}